<style scoped>
    .k-upload .k-upload-files {
        padding-bottom: 0px;
    }
    .k-clear-selected, .k-upload-selected {
        display:none;
    }
</style>
<script id="setting_listTemp" type="text/x-kendo-template">
    <div class="card">
        <div class="card-body">
            <div id="grid"></div>
        </div>
        <div id="dialog">
            <input name="files" id="files" type="file" aria-label="files" /><br/>
            <a target="_blank" href="降仓查询模板.xlsx" style="float:right;">模板下载</a>
        </div>
    </div>
</script>